@mixin esds-hostile-css-global-styles {
  /* Hostile inherited styles*/
  color: darkorange;
  font-family: Georgia;
  font-size: 43px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.5em;
  line-height: 3.2;
  text-align: center;
  text-indent: 103px;
  text-transform: uppercase;
  text-shadow: 0 2px 1px red;
  vertical-align: middle;
}

html,
body {
  @include esds-hostile-css-global-styles;
}

/* Hostile typographic vertical space */
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
select,
optgroup,
textarea {
    margin-bottom: -21px;
    margin-top: -11px;
}

/* Hostile list defaults */
ul,
ol {
    list-style: lower-greek;
    margin-bottom: -39px;
    padding: 29px 29px 29px 300px;
}

/* Hostile <table> defaults */
table {
    border-collapse: separate;
    border-spacing: 11px 23px;
}

$exclude-browser-sync-notification: true !default;
@if ($exclude-browser-sync-notification) {
  // Use !important to override inline styles
  #__bs_notify__ {
    font-size: .9 * 16px !important;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1;
    text-indent: 0;
    text-transform: none;
    text-shadow: none;
  }
}
