<html>
  <head>
    <title>ESDS Hostile CSS Test</title>
    <style>
      {% include "dist/esds-hostile-css.css" %}
    </style>
  </head>
  <body>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>
      Paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, dolores.
    </p>
    <ul>
      <li>Unordered List</li>
      <li>Unordered List</li>
      <li>Unordered List</li>
      <li>Unordered List</li>
      <li>Unordered List</li>
    </ul>
    <ol>
      <li>Ordered List</li>
      <li>Ordered List</li>
      <li>Ordered List</li>
      <li>Ordered List</li>
      <li>Ordered List</li>
    </ol>
    <table>
      <thead>
        <tr>
          <th>header</th>
          <th>header</th>
          <th>header</th>
          <th>header</th>
          <th>header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
        </tr>
        <tr>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
        </tr>
        <tr>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
        </tr>
        <tr>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
        </tr>
        <tr>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
          <td>Content Lorem ipsum.</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
